<% provide :title, t(".title_signup") %>
<% provide :button_text, t(".create") %>

<div class="register-page">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4 col-md-4 cnt-bg-photo d-none d-xl-block d-lg-block d-md-block framgia_background">
        <div class="register-info">
        </div>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-12 align-self-center">
        <div class="content-form-box register-box">
          <%= render "form" %>
          <div class="login-footer text-center">
            <p><%= t ".already" %>
              <%= link_to t(".sign_in"), login_path %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
